<div class="hero min-h-screen bg-base-200">
  <%= form_with url: generatedresults_path, method: :get, local: true, id: 'story-form', class: "flex flex-col gap-4 p-4 max-w-md mx-auto" do |form| %>
    <%= form.text_area :story, placeholder: "今日の1日の出来事（100文字以内）", class: "textarea textarea-bordered w-full", rows: 3, maxlength: 100 %>
    <%= form.submit "検索", class: "btn btn-primary w-full mt-4" %>
  <% end %>
</div>