<div class="hero min-h-screen bg-white">
  <%= render "shared/loading" %>
  <div class="hero-content text-center w-full">
    <div class="max-w-md w-full">      
      <div>
        <h1 class="text-4xl text-purple-700 font-bold p-8">退会画面</h1>
      </div>
      
      <p>本当に退会しますか？</p>

      <div class="p-8">
        <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },method: :delete, class: "btn w-full max-w-xs bg-teal-600 hover:bg-teal-800 text-neutral-50" %>
      </div>

      <hr class="my-4 p-4 border-t-3 border-purple-800" />

      <%= link_to "戻る", :back %>
    </div>
  </div>
</div>