<div class="min-h-screen bg-gray-100 p-4">
  <%= paginate @categories %>
  <% @categories.each do |category| %>
    <h2><%= I18n.t("activerecord.attributes.drink.category.#{category.category}") %></h2>
    <ul>
      <% @drinks.each do |drink| %>
        <li><%= drink.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>