<!-- お問い合わせ関連　-->
<footer class="footer footer-center p-8 text-gray-400 bg-teal-950">
    <nav class="grid grid-flow-col gap-3">
      <%= link_to '利用規約', terms_of_service_path %>
      <%= link_to 'お問い合わせ', contact_path %>
      <%= link_to 'プライバシーポリシー', privacy_policy_path %>
    </nav> 
</footer>