<!-- ナビゲーションバー(ログイン前) -->
<header>
  <div class="navbar border border-green-900 bg-white">  
    <div class="px-2 max-sm:hidden">
      <a class="font-medium text-green-700 text-xl">言の葉</a><a class="text-black text-xl">Drink</a>
    </div>
    <%= form_with url: drinkwords_path, method: :get, local: true, id: 'drink-search-form' do |form| %>
      <%= form.text_field :keyword, placeholder: "ドリンク名を入力", class: "font-semibold text-sm text-green-700 border border-emerald-700 bg-purple-50 input input-bordered input-md w-full max-w-lg" %>
      <%= form.submit "検索", class: "btn btn-primary" %>
    <% end %>
    <div class="flex-none">
      <%= link_to 'ログイン', new_user_session_path, class: "px-8 text-black link link-hover hidden md:flex" %>
    </div>
  </div>
</header>