<div id="modalOverlay" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-40">
  <div id="loadingModal" class="max-w-md mx-auto bg-white rounded-lg z-50">
    <div class="animate-pulse text-center text-purple-600 p-4">
      読み込み中
    </div>
    <div class="animate-pulse flex justify-center p-4 py-10" >
      <div class="animate-ping h-4 w-4 bg-purple-600 rounded-full"></div>
      <div class="animate-ping h-4 w-4 bg-purple-600 rounded-full mx-6"></div>
      <div class="animate-ping h-4 w-4 bg-purple-600 rounded-full"></div>
    </div>
    <div class="text-center p-4">
      <p class ="p-4 text-purple-600">Thank you !</p>
      ドリンクを作ってるじょ</br>
      ちょっと待つじょ</br>
    </div>
      <%= image_tag 'kotonoha_okozyo.png', class: "animate-pulse p-12 max-w-md mx-auto",size: '200x200'%>
  </div>
</div>