<!-- レスポンシブ用メニュー -->
<ul class="menu menu-horizontal bg-base-200 rounded-box mt-6 sm:hidden">
  <li>
    <a class="tooltip" data-tip="ホーム">
      <i class="fa-solid fa-house fa-sm"></i>
    </a>
  </li>
  
  <li>
    <a class="tooltip" data-tip="ブックマーク">
    <i class="fa-regular fa-bookmark fa-sm"></i>
    </a>
  </li>

  <li>
    <a class="tooltip" data-tip="オリジナル">
      <i class="fa-solid fa-whiskey-glass fa-sm"></i>
    </a>
  </li>

  <li>
    <a class="tooltip" data-tip="投稿">
      <i class="fa-solid fa-pen fa-sm"></i>
    </a>
  </li>

  <li>
    <a class="tooltip" data-tip="設定">
      <i class="fa-solid fa-gear fa-sm"></i>
    </a>
  </li>

  <li>
    <a class="tooltip" data-tip="通知">
      <i class="fa-regular fa-bell fa-sm"></i>
    </a>
  </li>

  <li>
    <a class="tooltip" data-tip="ヘルプ">
      <i class="fa-regular fa-circle-question fa-sm"></i>
    </a>
  </li>

  <li>
    <a class="tooltip" data-tip="ログアウト">
      <i class="fa-solid fa-right-from-bracket fa-sm"></i>
    </a>
  </li>
</ul>


