<!-- ナビゲーションバー -->
<!-- ヒーローセクション -->
<div class="hero min-h-screen bg-white">
  <div class="hero-content text-center flex flex-wrap">
    <div class="mb-8 ">
    <%= image_tag 'kotonoha_drink logo.png',size: '250x250'%>
    <a class="text-green-700 text-5xl font-bold">言の葉</a>
    <a class="text-black text-5xl font-bold">Drink</a>
    </div>
    <div class="max-w-md text-emerald-700">
      <h1 class="sm:text-3xl text-2xl font-bold">思いを込めた一杯で、</h1>
      <h1 class="sm:text-4xl text-2xl font-bold">日常をほんの少し特別に。</h1>
      <p class="py-5 text-base sm:text-lg">花に花言葉があるように、</p>
      <p class="text-sm sm:text-base">もしもドリンクにドリンク言葉があったら？？</p>
      <p class="py-5 text-sm sm:text-base">まずは、好きな飲み物の名前を入力してみましょう.</p>
      <p class="py-5 text-base sm:text-lg">AIがドリンク言葉を作ってくれます!</p>
    </div>
  </div>
</div>
<!-- お問い合わせ関連　-->