<h1 class="text-lg">非公開</h1> 
<div class="flex items-center justify-center">
  <div class="overflow-x-auto h-96">
    <table class="table table-pin-rows table-pin-cols">
      <tbody>
        <tr>
          <th>日記</th>
        </tr>
        <% private_posts.each do |post| %>
          <tr>
            <td><%= post.body %></td>
            <td><%= l post.created_at, format: :public_post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>