.google-auth-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
}

.google-auth-button .btn {
  background-color: white;
  color: black;
  border: 1px solid black;
}