<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %>様</p>
    <p>
      パスワードリセットのご申請ありがとございます。
      下のリンクをクリックし、パスワードをリセットする画面が表示されますので、新しいパスワードを設定してください。
      ※パスワードリセットはメール受信後から「6時間以内」に行ってください。
    </p>
    <p><%= link_to "パスワードをリセットする", edit_password_url(@resource, reset_password_token: @token, host: 'localhost:3000') %></p>
  </body>
</html>